body{
  margin: 0px;
}

.header{
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.text{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

h1,h3{
  text-align: center;
}

img{
  height: 300px;
  width: 500px;
}

form{
  text-align: center;
}

td,th{
  text-align: center;
  padding: 10px;
}